RABBITMQ_HOST=xxxxxx
RABBITMQ_PORT=5672
RABBITMQ_USER=xxxxxx
RABBITMQ_PASSWORD=xxxxxxx
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=xxxxxxx
RABBITMQ_DLQ=xxxxxx
RABBITMQ_PREFETCH_COUNT=1
WORKER_PROCESSES=2

QDRANT_URL=http://localhost:6333
COLLECTION_NAME=video_search

OPENAI_API_KEY=sk-s....
BASE_API_URL=https://api.example.com
AUTH_X_APP=replace-with-app-token
CACHE_DIR=/mount/disk/huggingface_models
TEMP_DIR=temp
FRAME_EXTRACT_FPS=1

FRAME_BATCH_SIZE=32
AUDIO_BATCH_SIZE=16
